<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="comments">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %marker %m %X %ex %n"/>
        </Console>
        <Socket name="logstash" host="c4535df9-6479-4f92-9a1c-0dc6e3c06226-ls.logit.io"
                port="29204" protocol="udp">
            <JSONLayout complete="false" compact="true" eventEol="true" charset="UTF-8" properties="true"/>
        </Socket>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="console" level="info" />
            <AppenderRef ref="logstash" level="info" />
        </Root>
    </Loggers>
</Configuration>